@font-face {
  font-family: "finnmark";
  src: url("/Webfonts/WOFF/Finnmark-Regular.woff") format("woff");
}

@font-face {
  font-family: "finnmark-italic";
  src: url("/Webfonts/WOFF/Finnmark-Italic.woff") format("woff");
}